<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBemnodUVxyo2Agiu5V6dab7xhls0bBC_I</string>
	<key>GCM_SENDER_ID</key>
	<string>536792889054</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.hiFive</string>
	<key>PROJECT_ID</key>
	<string>hifive-55f0c</string>
	<key>STORAGE_BUCKET</key>
	<string>hifive-55f0c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:536792889054:ios:79d2cd8efe321a0965b44f</string>
</dict>
</plist>